cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.bin

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub
build.log

mingw32-config.cache

*~

ext_deps
config.h.in
config.h

ccan/libccan.a
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h

mkinstalldirs

*.swp

ccan/opt/.dirstamp
libtool
ltmain.sh
compat/jansson-2.5/jansson.pc
compat/jansson-2.5/src/.libs/
compat/jansson-2.5/src/jansson_config.h
compat/jansson-2.5/src/libjansson.la
*.lo
m4/
